<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.112793576296-7occre4bi91shvkf0ld04a7aigoo7mmb</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Inter.ttf</string>
		<string>CircularStd-Black.otf</string>
		<string>CircularStd-Bold.otf</string>
		<string>CircularStd-Book.otf</string>
		<string>CircularStd-Light.otf</string>
		<string>CircularStd-Medium.otf</string>
	</array>
</dict>
</plist>
